# Ignorar arquivos temporários do sistema
*.log
*.tmp
*.swp
*.bak

# Ignorar arquivos de dependências que não são necessários no container
target/
*.jar
*.war
*.class

# Ignorar diretórios de IDEs
.idea/
.vscode/
*.iml

# Ignorar arquivos específicos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de configuração do Maven e Gradle
.mvn/
gradle/
